/*{
  padding: 0;
  margin: 0;
}

#container{
  width: 90%;
  margin: 0 auto;
}

nav ul li{
  display: inline;
}

nav ul li a{
  text-decoration: none;
}

img{
  width: 80%;
  height: auto;
}

table {
  border-collapse: collapse;
  width: 50%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){
  background-color: #f2f2f2;
}

th{
  background-color: #4C4F50;
  color: white;
}
*/
body {
  /*min-height: 2000px;*/
  padding-top: 70px;
}

.form-group .checkbox label, .form-group .radio label, .form-group label {
  font-weight: bold;
}

